<body class="bg-white antialiased dark:bg_black">
  <Layout.header references={ @references }>
    <%= @full_name || "Empty Portfolio" %>
  </Layout.header>
  <Layout.main>
    <%= @inner_content %>
  </Layout.main>
  <Layout.footer />
</body>