<body class="flex flex-col h-screen justify-between px-4">
  <Layout.header>
    <%= live_render(@conn, LivePortfolioWeb.HeaderLive) %>
  </Layout.header>
  <Layout.main>
    <%= @inner_content %>
  </Layout.main>
  <Layout.footer full_name={@abbr_name} />
</body>
